<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppClip</key>
	<dict>
		<key>NSAppClipRequestEphemeralUserNotification</key>
		<true/>
		<key>NSAppClipRequestLocationConfirmation</key>
		<false/>
	</dict>
	<key>Pushwoosh_API_TOKEN</key>
	<string>YOUR_API_TOKEN</string>
	<key>Pushwoosh_APPID</key>
	<string>XXXXX-XXXXX</string>
	<key>Pushwoosh_LOG_LEVEL</key>
	<string>DEBUG</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
