<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pushwoosh.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>customscheme</string>
				<string>pushwoosh</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>PW_APP_GROUPS_NAME</key>
	<string>group.com.example.delivery</string>
	<key>Pushwoosh_ALLOW_REVERSE_PROXY</key>
	<true/>
	<key>Pushwoosh_API_TOKEN</key>
	<string>YOUR_API_TOKEN</string>
	<key>Pushwoosh_APPID</key>
	<string>XXXXX-XXXXX</string>
	<key>Pushwoosh_APPLICATION_EXIT_TIMEOUT_SECONDS</key>
	<integer>10</integer>
	<key>Pushwoosh_IDLE_TIMEOUT_SECONDS</key>
	<integer>30</integer>
	<key>Pushwoosh_LOG_LEVEL</key>
	<string>DEBUG</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIPrefersShowingLanguageSettings</key>
	<true/>
</dict>
</plist>
